## Ford_Gobike_Systems
## by Subaru Goto

## Preliminary Wrangling

> This data set includes information about individual rides made in a bike-sharing system covering the greater San Francisco Bay area. This service has started since June 2017. Therefore, there is data from June 2017 to December 2018. The data set can be downloaded from https://www.fordgobike.com/system-data .

In [111]:
# import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob

%matplotlib inline

In [112]:
# open several zip files
# http://cracktechinterviews.com/Article.aspx?BlogID=21&Title=How-to-import-multiple-files-into-Pandas-data-frame-efficiently?
# get all the zip files
zip_files = glob.glob('2018*-fordgobike-tripdata.csv.zip')
# initialize the list for data frame
file_lists = []

for file in zip_files:
    
    data = pd.read_csv(file, header = 0, sep = ",")
    file_lists.append(data)

# merge
df_2018 = pd.concat(file_lists, ignore_index = True)

In [113]:
# check df
df_2018.tail()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
1863716,473,2018-12-01 00:11:54.8110,2018-12-01 00:19:48.5470,345.0,Hubbell St at 16th St,37.766474,-122.398295,81.0,Berry St at 4th St,37.775880,-122.393170,3035,Subscriber,1982.0,Female,No
1863717,841,2018-12-01 00:02:48.7260,2018-12-01 00:16:49.7660,10.0,Washington St at Kearny St,37.795393,-122.404770,58.0,Market St at 10th St,37.776619,-122.417385,2034,Subscriber,1999.0,Female,No
1863718,260,2018-12-01 00:05:27.6150,2018-12-01 00:09:47.9560,245.0,Downtown Berkeley BART,37.870139,-122.268422,255.0,Virginia St at Shattuck Ave,37.876573,-122.269528,2243,Subscriber,1991.0,Male,No
1863719,292,2018-12-01 00:03:06.5490,2018-12-01 00:07:59.0800,93.0,4th St at Mission Bay Blvd S,37.770407,-122.391198,126.0,Esprit Park,37.761634,-122.390648,545,Subscriber,1963.0,Male,No
1863720,150,2018-12-01 00:03:05.7420,2018-12-01 00:05:36.0260,107.0,17th St at Dolores St,37.763015,-122.426497,119.0,18th St at Noe St,37.761047,-122.432642,4319,Subscriber,NaN,NaN,No

In [114]:
# check info
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863721 entries, 0 to 1863720
Data columns (total 16 columns):
duration_sec               int64
start_time                 object
end_time                   object
start_station_id           float64
start_station_name         object
start_station_latitude     float64
start_station_longitude    float64
end_station_id             float64
end_station_name           object
end_station_latitude       float64
end_station_longitude      float64
bike_id                    int64
user_type                  object
member_birth_year          float64
member_gender              object
bike_share_for_all_trip    object
dtypes: float64(7), int64(2), object(7)
memory usage: 227.5+ MB

In [115]:
# check na
df_2018.isna().sum() / df_2018.shape[0]

duration_sec               0.000000
start_time                 0.000000
end_time                   0.000000
start_station_id           0.006316
start_station_name         0.006316
start_station_latitude     0.000000
start_station_longitude    0.000000
end_station_id             0.006316
end_station_name           0.006316
end_station_latitude       0.000000
end_station_longitude      0.000000
bike_id                    0.000000
user_type                  0.000000
member_birth_year          0.059407
member_gender              0.059219
bike_share_for_all_trip    0.000000
dtype: float64

In [116]:
# check summary statistics
df_2018.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,member_birth_year
count,1.863721e+06,1.851950e+06,1.863721e+06,1.863721e+06,1.851950e+06,1.863721e+06,1.863721e+06,1.863721e+06,1.753003e+06
mean,8.573026e+02,1.196744e+02,3.776678e+01,-1.223492e+02,1.181730e+02,3.776690e+01,-1.223487e+02,2.296851e+03,1.983088e+03
std,2.370379e+03,1.003976e+02,1.057689e-01,1.654634e-01,1.004403e+02,1.056483e-01,1.650597e-01,1.287733e+03,1.044289e+01
min,6.100000e+01,3.000000e+00,3.726331e+01,-1.224737e+02,3.000000e+00,3.726331e+01,-1.224737e+02,1.100000e+01,1.881000e+03
25%,3.500000e+02,3.300000e+01,3.777106e+01,-1.224114e+02,3.000000e+01,3.777106e+01,-1.224094e+02,1.225000e+03,1.978000e+03
50%,5.560000e+02,8.900000e+01,3.778107e+01,-1.223974e+02,8.800000e+01,3.778127e+01,-1.223971e+02,2.338000e+03,1.985000e+03
75%,8.720000e+02,1.860000e+02,3.779625e+01,-1.222865e+02,1.830000e+02,3.779728e+01,-1.222894e+02,3.333000e+03,1.991000e+03
max,8.636600e+04,3.810000e+02,4.551000e+01,-7.357000e+01,3.810000e+02,4.551000e+01,-7.357000e+01,6.234000e+03,2.000000e+03

In [117]:
# load 2017 data into data frames
df_2017 = pd.read_csv("2017-fordgobike-tripdata.csv")

In [118]:
# check head
df_2017.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender
0,80110,2017-12-31 16:57:39.6540,2018-01-01 15:12:50.2450,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male
1,78800,2017-12-31 15:56:34.8420,2018-01-01 13:49:55.6170,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer,1965.0,Female
2,45768,2017-12-31 22:45:48.4110,2018-01-01 11:28:36.8830,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer,NaN,NaN
3,62172,2017-12-31 17:31:10.6360,2018-01-01 10:47:23.5310,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer,NaN,NaN
4,43603,2017-12-31 14:23:14.0010,2018-01-01 02:29:57.5710,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,1997.0,Female

In [119]:
# check na
df_2017.isna().sum() / df_2017.shape[0]

duration_sec               0.000000
start_time                 0.000000
end_time                   0.000000
start_station_id           0.000000
start_station_name         0.000000
start_station_latitude     0.000000
start_station_longitude    0.000000
end_station_id             0.000000
end_station_name           0.000000
end_station_latitude       0.000000
end_station_longitude      0.000000
bike_id                    0.000000
user_type                  0.000000
member_birth_year          0.128037
member_gender              0.127885
dtype: float64

In [120]:
# check shape
print(df_2018.shape)
print(df_2017.shape)

(1863721, 16)
(519700, 15)

In [121]:
# check columns name
df_2018.columns

Index(['duration_sec', 'start_time', 'end_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'member_birth_year', 'member_gender', 'bike_share_for_all_trip'],
      dtype='object')

In [122]:
# # check columns name
df_2017.columns

Index(['duration_sec', 'start_time', 'end_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'member_birth_year', 'member_gender'],
      dtype='object')

## What is the structure of your dataset?

> Adding the both data sets, there are 2383421 observations in total. A number of columns is 16 for the 2018 data set and 15 for the 2017 data set. Before we start analyzing data, data cleaning is essential.
Following points should be checked in the data set.

### Quality issue

- missing value for start and end station id as well as name
- missing gender
- missing birth of year
- start and end time is string
- station id is float
- bike id is int
- gender is string
- bike share service is string
- bike share service column is missing in the 2017 data set
- user type is string
- duration in second is difficult to handle with
- member_birth_year is difficult to handle with

### Structure issue

- merge 2 data set together
- start time and end time contains dates and times

### Clean
### Defition
concatinate the 2 data sets and create one data frame. As bike_sare_for_all_trip service seems like a new service from 2018, I will create a new column for the 2017 data set with No.

In [123]:
# create a new column and fill in with "No"
df_2017["bike_share_for_all_trip"] = "No"

In [124]:
# check data set size
print(df_2017.size)
print(df_2018.size)
print(df_2017.size + df_2018.size)

8315200
29819536
38134736

In [125]:
# concat
df_all = pd.concat([df_2017, df_2018], ignore_index = True)

## Test

In [126]:
# check size
df_all.size

38134736

In [127]:
# check df
df_all.sample(5)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
1272309,514,2018-06-11 19:17:58.6820,2018-06-11 19:26:33.6220,50.0,2nd St at Townsend St,37.780526,-122.390288,16.0,Steuart St at Market St,37.794130,-122.394430,2018,Subscriber,1989.0,Female,No
226032,849,2017-10-19 16:52:07.4860,2017-10-19 17:06:16.9180,59.0,S Van Ness Ave at Market St,37.774814,-122.418954,67.0,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,2014,Subscriber,1991.0,Male,No
519444,1049,2017-06-28 15:56:24.7730,2017-06-28 16:13:53.7870,66.0,3rd St at Townsend St,37.778742,-122.392741,323.0,Broadway at Kearny,37.798014,-122.405950,338,Subscriber,1991.0,Male,No
535085,914,2018-01-28 11:35:41.5190,2018-01-28 11:50:56.1510,44.0,Civic Center/UN Plaza BART Station (Market St ...,37.781074,-122.411738,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,3258,Subscriber,1980.0,Female,No
313195,261,2017-09-25 00:01:53.3250,2017-09-25 00:06:15.2270,16.0,Steuart St at Market St,37.794130,-122.394430,28.0,The Embarcadero at Bryant St,37.787168,-122.388098,71,Subscriber,1986.0,Female,No

In [128]:
# check info
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2383421 entries, 0 to 2383420
Data columns (total 16 columns):
duration_sec               int64
start_time                 object
end_time                   object
start_station_id           float64
start_station_name         object
start_station_latitude     float64
start_station_longitude    float64
end_station_id             float64
end_station_name           object
end_station_latitude       float64
end_station_longitude      float64
bike_id                    int64
user_type                  object
member_birth_year          float64
member_gender              object
bike_share_for_all_trip    object
dtypes: float64(7), int64(2), object(7)
memory usage: 290.9+ MB

In [129]:
# check duplication
df_all.duplicated().sum()

0

In [130]:
# check na
df_all.isna().sum() / df_all.shape[0]

duration_sec               0.000000
start_time                 0.000000
end_time                   0.000000
start_station_id           0.004939
start_station_name         0.004939
start_station_latitude     0.000000
start_station_longitude    0.000000
end_station_id             0.004939
end_station_name           0.004939
end_station_latitude       0.000000
end_station_longitude      0.000000
bike_id                    0.000000
user_type                  0.000000
member_birth_year          0.074372
member_gender              0.074191
bike_share_for_all_trip    0.000000
dtype: float64

In [131]:
# check summary statistic
df_all.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,member_birth_year
count,2.383421e+06,2.371650e+06,2.383421e+06,2.383421e+06,2.371650e+06,2.383421e+06,2.383421e+06,2.383421e+06,2.206162e+06
mean,9.100063e+02,1.142750e+02,3.776784e+01,-1.223524e+02,1.124780e+02,3.776798e+01,-1.223518e+02,2.160719e+03,1.982537e+03
std,2.643865e+03,9.797252e+01,1.018623e-01,1.545178e-01,9.785323e+01,1.017500e-01,1.541098e-01,1.252545e+03,1.051346e+01
min,6.100000e+01,3.000000e+00,3.726331e+01,-1.224737e+02,3.000000e+00,3.726331e+01,-1.224737e+02,1.000000e+01,1.881000e+03
25%,3.570000e+02,3.000000e+01,3.777106e+01,-1.224116e+02,2.900000e+01,3.777166e+01,-1.224094e+02,1.119000e+03,1.977000e+03
50%,5.640000e+02,8.100000e+01,3.778127e+01,-1.223974e+02,8.100000e+01,3.778175e+01,-1.223971e+02,2.173000e+03,1.985000e+03
75%,8.850000e+02,1.810000e+02,3.779539e+01,-1.222948e+02,1.800000e+02,3.779539e+01,-1.222948e+02,3.116000e+03,1.990000e+03
max,8.636900e+04,3.810000e+02,4.551000e+01,-7.357000e+01,3.810000e+02,4.551000e+01,-7.357000e+01,6.234000e+03,2.000000e+03

### Clean

### Definition

Extract start/end year, month, day and time from the start / end time columns

In [ ]:
# extract start info
df_all["start_year"] = df_all.start_time.str.split().str[0].str.split("-").str[0]
df_all["start_month"] = df_all.start_time.str.split().str[0].str.split("-").str[1]
df_all["start_day"] = df_all.start_time.str.split().str[0].str.split("-").str[2]
# extract end info
df_all["end_year"] = df_all.end_time.str.split().str[0].str.split("-").str[0]
df_all["end_month"] = df_all.end_time.str.split().str[0].str.split("-").str[1]
df_all["end_day"] = df_all.end_time.str.split().str[0].str.split("-").str[2]

In [ ]:
# extract start time
df_all["start_time"] = df_all.start_time.str.split().str[1].str.split(".").str[0]
# extract end time
df_all["end_time"] = df_all.end_time.str.split().str[1].str.split(".").str[0]

In [ ]:
# drop start_time and end_time columns
df_all.drop(columns = ["start_time", "end_time"], axis = 1, inplace = True)

### Test

In [ ]:
# check
df_all.head()

### Clean
### Definition

Create a new column for usage duration in minitues. Then delet the duration_sec column.

In [ ]:
# create min usage column
df_all["duration_min"] = df_all["duration_sec"] / 60

In [ ]:
# drop min
df_all.drop("duration_sec", axis = 1, inplace = True)

### Test

In [ ]:
# check
df_all.columns

In [ ]:
# checl
df_all["duration_min"].describe()

### Clean
### Definition

> Median is about 10 min and the max user rents a bike for about 14 hours. 75% of pepole use a shared bike mostly below 15 min.

In [ ]:
# hist
plt.figure(figsize=[5, 5])

# 1 min bins
bin_edges = np.arange(0, df_all["duration_min"].max() + 1, 1)
# focus on data below 100 min
plt.xlim(0, 100)
plt.hist(data = df_all, x = "duration_min", bins = bin_edges);

> According to the official website (https://www.fordgobike.com/pricing), their are 4 major types of pricing.
<ol>
    <li>2 dollar per trip / max 30 min</li>
    <li>10 dollar a day / unlimited 30 min ride</li>
    <li>15 dollar a month / unlimited 45min trips</li>
    <li>Bike Share For All 5 dollar for the first year / 60 min trip</li>

> Looking at the price systems, it makes sense that a peak is below 30min and there are some user for around 40 to 45 minutes uses as well as around 60 min uses.

In [ ]:
# check missing values
df_all[df_all.isnull().any(axis = 1)].head()

> station id or name can be found through latitude and longitude

In [ ]:
# find most common combination
df_all[df_all.start_station_id.isnull()].groupby(["start_station_latitude", "start_station_longitude"]).size().sort_values(ascending = False).head(10)

> I will check some na for start and end location searching a location name from latitude and longitude.
> It seems like na is data from other city san Jose. I will delete the rows as I focus on data from San Francisco.

https://www.latlong.net/Show-Latitude-Longitude.html & https://member.fordgobike.com/map/
37.41 -121.94 = Baypointe Parkway, San Jose, California 95134, United States of America
37.40 -121.94 = 3331 N 1st St, San Jose, California 95134, United States
37.40 -121.93 = Central San Jose, San Jose, California 95125, United States of America
37.41 -121.96 = not found
37.40 -121.92 = Epic, 600 Epic Way, San Jose, California 95134, United States of America
37.42 -121.96 = not found
37.39 -121.93 = 2704 North 1st Street, San Jose, California 95134, United States of America
37.41 -121.93 = not found
37.42 -121.95 = not found
37.38 -121.93 = 2509 Orchard Parkway, San Jose, California 95131, United States of America

> there is a tendency that missing station name is data from San Jose.

In [ ]:
# drop na
df_all.dropna(subset = ["start_station_name", "end_station_name"], inplace = True)

In [ ]:
# check results
df_all.isna().sum()

In [ ]:
# create age column
df_all["age"] = 2018 - df_all.member_birth_year

In [ ]:
plt.hist(data = df_all, x = "age")

In [ ]:
# check
df_all[df_all.age >= 100]

In [ ]:
df_all[df_all["age"] == 132]